<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/pages.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{ title }}</title>
  </head>
  <body>


    {{ content | safe }}

    <!-- Modal contact form -->
    <section id="my-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-close"
            ><img src="/img/pages/modal-close.png" alt=""
          /></span>
          <p>Receive our newsletter</p>
          <h5>Discover Mondreem</h5>
          <p class="modal-subtext">
            <br />
            Be the first to hear about our latest projects
          </p>
        </div>
        <div class="modal-body">
          <form action="post">
            <input
              type="text"
              id="first-name"
              class="modal-input"
              placeholder="Full name"
            />
            <input
              type="text"
              id="email-address"
              class="modal-input"
              placeholder="Email Address"
            />
            <button class="btn modal-btn">Subscribe</button>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer-actual">
      <div class="footer-container">
        <div class="footer-social">
          <a href="https://www.facebook.com/MondreemLLC" class="fb-href"
            ><img
              src="/img/svgs/facebook_3.svg"
              class="ft-sm grey-logo fb-logo"
              alt="facebook logo"
          /></a>
          <a href="https://twitter.com/mondreeml"
            ><img
              src="/img/svgs/twitter_3.svg"
              class="ft-sm grey-logo tw-logo"
              alt="twitter logo"
          /></a>
          <a href="https://www.instagram.com/mondreem_official/"
            ><img
              src="/img/svgs/instagram_3.svg"
              class="ft-sm grey-logo ig-logo"
              alt="instagram logo"
          /></a>
          <a href="https://www.behance.net/mr_monkhtof715"
            ><img
              src="/img/svgs/behance_3.svg"
              class="ft-sm grey-logo be-logo"
              alt="behance logo"
          /></a>
          <a href="https://www.pinterest.ca/mondreem/"
            ><img
              src="/img/svgs/pinterest_3.svg"
              class="ft-sm grey-logo pi-logo"
              alt="pinterest logo"
          /></a>
          <a href="https://www.facebook.com/MondreemLLC"
            ><img
              src="/img/svgs/facebook.svg"
              class="ft-sm color-logo fb-logo"
              alt="facebook logo"
          /></a>
          <a href="https://twitter.com/mondreeml"
            ><img
              src="/img/svgs/twitter.svg"
              class="ft-sm color-logo tw-logo"
              alt="twitter logo"
          /></a>
          <a href="https://www.instagram.com/mondreem_official/"
            ><img
              src="/img/svgs/instagram.svg"
              class="ft-sm color-logo ig-logo"
              alt="instagram logo"
          /></a>
          <a href="https://www.behance.net/mr_monkhtof715"
            ><img
              src="/img/svgs/behance.svg"
              class="ft-sm color-logo be-logo"
              alt="behance logo"
          /></a>
          <a href="https://www.pinterest.ca/mondreem/"
            ><img
              src="/img/svgs/pinterest.svg"
              class="ft-sm color-logo pi-logo"
              alt="pinterest logo"
          /></a>
        </div>
        <div>
          <div class="footer-links">
            <a href="/about">About</a>
            <a href="/careers">Careers</a>
            <a href="/contact">Contact</a>
            <a href="/legal">Legal Notice</a>
          </div>
          <p class="footer-text">
            &copy 2020 Mondreem. All rights reserved
          </p>
        </div>
      </div>
    </footer>

    <script src="/js/tiny-slider.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
